*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background:linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%)
}
.container{
    width:60rem;
    border:2px solid transparent;
    margin-top: 50px;
   margin-left: 20rem;
    overflow: hidden;
    height:90vh;
    background-color: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    box-shadow: 10px 25px 25px rgb(43, 76, 174);
}
.text{
    color:rgb(4, 47, 32);
    font-size: 4vw;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.text p{
    position: relative;
}
.text p::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: aqua;
    border-left:1px solid chocolate;
    animation:type 1.3s steps(10) infinite ;
}
.center{
    position:relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(50, 99, 146, 0.781);
    height: 30rem;
    width:20rem;
    overflow:hidden;
    box-shadow: 0 0 10px 20px rgba(50, 99, 146, 0.781);
}
.display input{
    position: relative;
    box-sizing: border-box;
    width:100%;
    border-radius:10px;
    margin-top: 5px;
    margin-bottom: 10rem;
    height:40px;
    margin-bottom: 5px;
    text-align: right;
    font-size: large;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 5px;
}
.content input{
    border-radius: 50%;
    text-align:center;
    font-size: medium;
    padding: 12px;
    margin-left:10px;
   width:4rem;
   height:4rem;
    background-color: orange;
    color: azure;
   

}
@keyframes type{
    100%{
       left:100%;
       margin:0 -3.6vw 0 3.6vw

    }
}
@media only screen and (min-height=1000px ) {
    div.cal-cont{
        overflow: scroll;
    }
}
